.header{
    text-align: center;
    margin: 0;
}

.banner {
    font-family: consolas, "lucidia Console", monospace;
    background-image: url(images/banner_image.jpg);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
p {
    margin-right: 100px;
}
body {
    font-family: consolas, "lucidia Console", monospace;
    text-align: left;
    padding: 120px;
    text-align: left;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url(images/background_image.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    
}